apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: horizon-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Horizon is the Schema for the horizons API
      displayName: Horizon
      kind: Horizon
      name: horizons.horizon.openstack.org
      version: v1alpha1
  description: horizon operator
  displayName: horizon-operator-bundle
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - fkjdasf
  links:
  - name: Horizon Operator
    url: https://horizon-operator.domain
  maturity: alpha
  provider:
    name: anything
    url: fsadfl
  version: 0.0.0
